<div>
    <ul>
        <li>
            <%= link_to 'github' do %>
            <span class="sr-only">Github</span>
            <%= inline_svg_tag "socials/github.svg"%>
            <% end %>
        </li>
        <li>
            <%= link_to 'Linkedin' do %>
            <span class="sr-only">Linkedin</span>
            <%= inline_svg_tag "socials/linkedin.svg"%>
            <% end %>
        </li>
        <li>
            <%= link_to 'Email' do %>
            <span class="sr-only">Email</span>
            <%= inline_svg_tag "socials/email.svg"%>
            <% end %>
        </li>
    </ul>

</div>
