<!DOCTYPE html>
<html class="h-screen">
  <head>
    <title>Josh C</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class=" flex-col bg-creme h-screen">
    <!-- Nav -->
    <%= render "shared/navbar"%>
    <main class="flex flex-grow container mx-auto text-center">
      <%= yield %>
    </main>
    <footer class="absolute bottom-0 mb-4 w-screen">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
